*{ /* JH: Volgens mij wordt deze niet meer gebruikt, verwijderen */
  max-width: 800px;
  margin: auto;
  color: #888888;
  font-size: 12px;
  text-align: left;
}

header h1{
  font-size: 48px;
  color: darkgoldenrod
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul{
  background-color: green;
  margin: 0;
  padding: 0;	
  border: 1px solid #000;
}

ul.navigator { 
  padding: 10px 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a{ /* JH: Dit veranderd alle <a> tags, terwijl je alleen die in het menu wilt aanpassen. gebruik ul.navigator li a { ... } 
      NB: Ook de a tags op de home pagina wil ik zonder opmaak houden.*/
  text-decoration:none;
}

ul.nav li{
 display:inline;
}

ul.navigator li a{
  display: block;
  text-align: center;
  text-decoration: none;
  color:white;	
  padding:5px;
}

span.shop h2{
    color: black;
    font-size: 16px;
    text-align: center;
    margin: 10px 0;
}

img{
   width: 95%; 
   float: right;
}

span.shop h3{
    color: darkgoldenrod;
    margin: 5px;
}
.active{
  background-color: darkolivegreen;
}
a:visited{ /* JH: Dit veranderd alle <a> tags, terwijl je alleen die in het menu wilt aanpassen. gebruik ul.navigator li a:visited { ... } 
              NB: Ook de a tags op de home pagina wil ik zonder opmaak houden.*/
  text-decoration: none;
}

ul.navigator li a:active{
  color: red;
}
ul.navigator li a:hover{ 
  color: darkgoldenrod;
}

ul.navigator li a.right{
  float:right;
  float: top;
}

ul.navigator li a.left{
  float:left;
}

h2.about{ 
  text-indent: 50px;
  margin-top: 5px;
}


div p{ 
  margin: 10px 5px;
}

.textinput{
  width: 400px;
	
}
p.errormsg{
  color: red;
}

label.inputLabel{
  display: inline-block; 
  width: 200px;
  vertical-align: top;
}
footer{
  background-color: black;
  color: white;
  font-size: 10px;
  text-align: right;
}

input.item{
    float: right;
    width: 50px;
}

img.shopItem{
    margin: 5px;
    height: 230px;
    
}
.pricetag h2{
    font-size: 20px;
    color: green;
    text-align: center;
}
.price{
    float: left;
    display: inline-block;
}
.order{
    float: right;
    display: inline-block;
    width:170px;
}
span.shop {
    background-color: lightgreen;
    display: inline-block;
    height: 325px;
    width: 250px;
    border: 2px black;
    margin: 5px;
    overflow: hidden;
    border-radius: 15px;
}
.orderAmount{
    float: none;
    width: 50px;
    margin-left: 5px;
}

span.itemName{
    display: inline-block;
    height: 40px;
}

.totaalPrijs{
    font-size: 24px;
    color: goldenrod;
}

.nrInput{
    width: 50px;
}

.top5 h3{
    font-size: 24px;
}

.top5 p{
    font-size: 18px;
    color: darkgreen;
}
.top5 p a{
    color: darkgoldenrod;
    font-size: 18px;
    font-weight: bold;
}